.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111;
    color: white;
    padding: 25px;
    border-radius: 15px;
    animation: zoom 0.4s ease;
}

@keyframes zoom {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
@media (max-width: 600px) {
    .login-card,
    .panel,
    .card {
        width: 90%;
    }
}
