name: prac-pipe

on:
  push:
    branches:
      - main 

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning Code
        uses: actions/checkout@v4
      - name: Starting containers
        run: docker compose up -d
      - name: Testing if application is working
        run: docker compose exec -T app curl -f http://localhost:3000/health
      - name: Deleting containers
        run: docker compose down -v
  build:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build Docker images
        run: docker compose build
