name: ci-cd-pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start containers
        run: docker compose up -d

      - name: Health check
        run: docker compose exec -T app curl -f http://localhost:3000/health

      - name: Cleanup
        run: docker compose down -v

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build app image
        run: docker compose build app

      - name: Tag app image
        run: |
          docker tag 3-tier-app-deployment-app:latest \
          ${{ secrets.DOCKERHUB_USERNAME }}/3tier-app:latest

      - name: Push app image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/3tier-app:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH
        env:
          SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
        run: |
          echo "$SSH_KEY" > key.pem
          chmod 600 key.pem

      - name: Deploy on EC2
        env:
          HOST: ${{ secrets.EC2_HOST }}
          USER: ${{ secrets.EC2_USER }}
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem $USER@$HOST << 'EOF'
            cd ~/myapp
            git pull origin main
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/3tier-app:latest
            docker compose up -d
          EOF
